<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <div class="mb-3">
    <%= form.label :commenter, class: "form-label" %><br>
    <%= form.text_field :commenter, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :body, class: "form-label" %><br>
    <%= form.text_area :body, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :status, class: "form-label" %><br>
    <%= form.select :status, ["public", "private", "archived"],
      {selected: "public"}, {class: "form-select"} %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
