<%= form_with model: @article do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :body, class: "form-label" %>
    <%= form.text_area :body, class: "form-control" %>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :status, class: "form-label" %>
    <%= form.select :status, ["public", "private", "archived"],
      {selected: "public"}, {class: "form-select"} %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
