<div class="container">
  <h1>John's Blog</h1>
</div>

<%= render "navbar" %>

<div class="bg-light">
<div class="container border" style="background-color: white">
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <div class="card shadow-sm my-2">
        <div class="card-body">
          <div class="row">
            <div class="col-8">
            <h5 class="card-title"><%= article.title %></h5>
            <p class="card-text text-muted"><%= truncate(article.body, :length => 255) %></p>
            </div>
            <div class="col d-flex align-items-center justify-content-end">
              <%= link_to "Read", article, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>

    <div class="d-grid p-2">
      <%= link_to "+ Add Article", new_article_path, class: "btn btn-success" %>
    </div>
</div>
</div>

