<%= render "navbar" %>

<div class="bg-light">
  <div class="container border-start border-end" style="background-color: white">

    <div class="container">
      <h1 class="pt-3"><%= @article.title %></h1>

      <%= link_to "Edit", edit_article_path(@article),
        class: "btn btn-outline-primary btn-sm" %>
      <%= link_to "Destory", article_path(@article),
      method: :delete,
      data: { confirm: "Are you sure?" },
      class: "btn btn-outline-danger btn-sm" %>

    <hr>

    <p><%= @article.body %></p>

    <hr>

    </div>

    <div class="container">
      <h3>Add a comment:</h3>
      <%= render "comments/form" %>

      <hr>

      <h2>Comments</h2>
      <%= render @article.comments %>
    </div>
  </div>
</div>
